.headerContainer {
  background: var(--white);
  height: 6.5rem;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--gray-100);
  padding: 1rem;

  @media (min-width: 1080px) {
    padding: 2rem 4rem;
  }
  a {
    padding-right: 1rem;

    @media (min-width: 1080px) {
      padding-right: 2rem;
    }
  }

  hr {
    height: 70%;
    border: 1px solid var(--gray-100);
  }

  div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 1rem;
    @media (min-width: 1080px) {
      align-items: center;
      flex-direction: row;
      padding-left: 0;
    }
  }

  p {
    @media (min-width: 1080px) {
      padding: 0.25rem 0 0.25rem 2rem;
    }
  }

  span {
    text-transform: capitalize;
    @media (min-width: 1080px) {
      margin-left: auto;
    }
  }
}
